/* DEFAULTS */

body {
  background: #fff;
}

.v-application {
  background: #fff !important;
}

/* FONTS */

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap');
$body-font-family: 'Roboto', sans-serif;
$quicksand-font: 'Quicksand', sans-serif;

$font-weight-lightest: 100;
$font-weight-lighter: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: 800;
$font-weight-boldest: 900;

/* HOME PAGE */

.home-nav {
  font-size: 20px;
  text-transform: uppercase;
  color: #000 !important;
  font-weight: lighter;
  font-family: $body-font-family;
}

.int {
  position: absolute;
  top: 0;
  right: 0;
}

/* ABOUT */

.strip {
  &-bg {
    width: 100%;
    min-height: 100vh;
  }
  &-bigtext {
    font-size: 55px !important;
    font-weight: $font-weight-boldest;
    background: maroon;
    color: white;
    padding: 10px;
    line-height: 72px;
  }
  &-subtitle{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: $font-weight-normal;
    letter-spacing: 5px;
    font-family: $quicksand-font;
    background: black;
    color: white;
    padding: 10px;
    line-height: 30px;
  }
}

/* SKILLS */

.skills {
  &-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 30px !important;
    letter-spacing: 5px !important;
    padding: 10px 0;
    border-bottom: 1px solid #000;
  }
  &-name {
    font-size: 16px;
    text-transform: uppercase;
    font-family: $quicksand-font;
    font-weight: $font-weight-normal;
  }
  &-description {
    font-size: 10px !important;
    font-weight: 400;
    letter-spacing: 0.1666666667em !important;
    line-height: 10px;
    text-transform: uppercase;
  }
}

/* WORKS */

.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  opacity: .7;
  position: absolute;
  width: 100%;
}